.div
	.container{:style => "padding-top:20px;"}		
		.row
			- @ideas.each do |idea|
				.col-sm-3.center{:style => "padding-bottom:30px;"}
					= link_to (image_tag idea.image(:medium), :class => "img-rounded img-responsive"),idea
					.center= link_to "#{idea.description}",idea
					%p.center=idea.outcome
					%p test 
