.div
	.container{:style => "padding-top:50px;"}		
		.row
			- @ideas.each do |idea|
				.col-sm-3.center{:style => "padding-bottom:30px;"}
					= link_to (image_tag idea.image(:medium), :class => "img-circle img-responsive"),idea
				
					%p.center{:style => "padding-top:5px;color:#000;font-size:2em;height:80px;"}= link_to "#{idea.description}",idea,:style => "color:white"
		