.container
	.row
		.col-md-12
			.center
				%h1 A Bunch of Great Ideas
			- @ideas.each do |idea|
				.col-sm-3	
					.center
						= link_to (image_tag idea.image(:medium), :class => "img-responsive"), idea.user.fburl, :target => "_blank"
						%h3=link_to "#{idea.description}", idea
						%p Submitted By
						%h4= link_to "#{idea.user.name}", idea.user.fburl, :target => "_blank"
