.div
	.container{:style => "padding-top:20px;"}
		.row.center.hero{:class =>"jumbotron"}
			%h1{:style => "color:white"} Define Your Experiences 
			%h1{:style => "color:white"}Define Yourself

		.row
			.col-sm-12.center
				%p{:style => "color:gray"} These Amazing Experiences Await
				%hr
			- @ideas.each do |idea|
				.col-sm-2.center{:style => "padding-bottom:30px;"}
					= link_to (image_tag idea.image(:small), :class => "img-rounded img-responsive"),idea
					.center
						%h3{:style => "margin:0;padding-top:5px"}= link_to "#{idea.description}",idea
					%p.center{:style => "color:grey"}=idea.outcome

