.div
	.container{:style => "padding-top:20px;"}		
		.row
			.col-sm-12{:style => "padding-bottom:30px;"}
				%p{:style=>"color:white; font-size:2em"} Hello!  
				%p{:style=>"color:white; font-size:1.2em"} 
					I'm Joe and I would like to welcome you to my portfolio.  My goal is to help you understand a bit more about what it would be like to work with me.  
					I am an
					=link_to "ENFP.", "http://www.personalitypage.com/html/ENFP.html", :style => "color:white"
					I really like focusing on a metric when building a product and I love human connection / interaction. Please check out some of my projects and scroll down to see my process in action.



		.row
			- @ideas.each do |idea|
				.col-sm-3.center{:style => "padding-bottom:30px;"}
					= link_to (image_tag idea.image(:medium), :class => "img-circle img-responsive"),idea
				
					%p.center{:style => "padding-top:5px;color:#000;font-size:2em;height:80px;"}= link_to "#{idea.description}",idea,:style => "color:white"
		