<!DOCTYPE html>


<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1>Hey,</h1>
		<p>
			You got a new visitor to your site
		</p>
		<p> 
			<%= @user.email %>
		</p>
	</body>
</html>