.container
	.row
		.col-md-6.col-md-offset-3
			.center
				%h1 Editing iteration

			= render 'form'


			\|
			= link_to 'Back', idea_iterations_path
			= link_to 'Delete', idea_iteration_path(@idea,@iteration), :method => :delete
