-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'JOE', ideas_path, class: 'navbar-brand'
      = link_to 'f', "https://www.facebook.com/joemellin", class: 'navbar-brand'
      = link_to 'in', "https://www.linkedin.com/in/joemellin", class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.center
        = render 'layouts/navigation_links'


