-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    %li{:style =>"padding-top:10px; padding-bottom:8px;", :class => 'navbar-brand'}
      :plain
        <iframe src="https://ghbtns.com/github-btn.html?user=joemellin&repo=meetme&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.center
        = render 'layouts/navigation_links'


